<div class="container">
  <div class="small-space"></div>
  <div class="card">
    <img src="../../assets/guy.png" width="50" height="50" />
    <mat-card
      ><h1>Ankunft in der Schweiz</h1>
      <p>
        Folgender Ablauf zeigt was passiert, wenn sie sich bei der Polizei oder
        einem Aufnahmezentrum Melden und um Asyl bitten.
      </p></mat-card
    >
    <p class="arrow">↓</p>
    <img src="../../assets/house.png" width="50" height="50" />
    <mat-card
      ><h1>BAZ</h1>
      <p>
        Sie kommen in ein
        <a
          href="https://www.sem.admin.ch/sem/de/home/asyl/asylverfahren/asylregionen-baz.html"
          target="_blank"
          >Bundesasylzentrum der Schweiz</a
        >
        und können dort dann um Asyl bitten.
      </p></mat-card
    >
    <p class="arrow">↓</p>
    <img src="../../assets/discusion.png" width="50" height="50" />
    <mat-card
      ><h1>Registration</h1>
      <p>
        Sie werden Registriert mit Foto, Fingerabdrücke und der Pass wird
        eingenommen. Darauf folgt einen Medizinische Überprüfung.
      </p>
      <a
        href="https://www.sem.admin.ch/sem/de/home/asyl/asylverfahren/empfang.html"
        target="_blank"
        >Mehr Informationen.</a
      ></mat-card
    >
    <p class="arrow">↓</p>
    <img src="../../assets/yes.png" width="50" height="50" />
    <mat-card
      ><h1>Rechtsvertretung</h1>
      <p>
        Es wird Ihnen eine kostenlose (gratis) Rechtsvertretung zugeordnet,
        welche Ihnen durch das Verfahren Hilft.
      </p></mat-card
    >
    <p class="arrow">↓</p>
    <img src="../../assets/eu.png" width="50" height="50" />
    <mat-card
      ><h1>Überprüfung</h1>
      <p>
        Das SEM überprüft, ob Sie bereits in einem anderen EU-Staat registriert
        sind.
      </p>
      <a
        href="https://www.sem.admin.ch/sem/de/home/asyl/asylverfahren/dublin-verfahren.html"
        target="_blank"
        >Dublin verfahren.</a
      ><br /><a
        href="https://www.sem.admin.ch/sem/de/home/asyl/asylverfahren/nationale-verfahren.html"
        target="_blank"
        >Nationale Asylverfahren</a
      ></mat-card
    >
    <p class="arrow">Ja↓ ↓Nein</p>
    <mat-card
      ><h1 class="box">[ JA ]</h1>
      <h2>Übernahme</h2>
      <p>Das entsprechende Land übernimmt die Asylanfrage.</p></mat-card
    >
    <hr class="arrow" />
    <mat-card><h1 class="box">[ NEIN ]</h1> </mat-card>

    <p class="arrow">↓</p>
    <img src="../../assets/discusion2.png" width="50" height="50" />
    <mat-card
      ><h1>Gespräch</h1>
      <p>
        Bei diesem Gespräch mit Ihrem Rechtsvertreter und einem SEM
        Mitarbeitenden sprechen Sie über Ihre Heimat und Ihren Fluchtgrund.
      </p>
      <a
        href="https://www.sem.media-flow.ch/asylverfahren-de#15"
        target="_blank"
        >InformationsVideo.</a
      ><br /><a
        href="https://www.sem.admin.ch/dam/sem/de/data/asyl/verfahren/weiteres/qualikriterien-anhoerung-d.pdf.download.pdf/qualikriterien-anhoerung-d.pdf"
        target="_blank"
        >Qualitätskriterien (PDF).</a
      ></mat-card
    >
    <p class="arrow">↓ 8 Tage</p>
    <mat-card
      ><h1>Entscheid SEM</h1>
      <p>
        Das SEM teilt Ihnen mit ob Sie aufgenommen oder Abgelehnt wurden. Bei
        unklaren Sachverhalten kann es ein erweitertes Verfahren geben.
      </p>
      <a
        href="https://www.sem.admin.ch/sem/de/home/asyl/asylverfahren/dublin-verfahren.html"
        target="_blank"
        >Mehr Informationen.</a
      ></mat-card
    >
    <p class="arrow">Aufgenommen↓ ↓Abgelehnt</p>
    <mat-card
      ><h1 class="box">[ Abgelehnt ]</h1>
      <h2>Rückflug</h2>
      <p>
        Sofern möglich und zumutbar, fliegen Sie mit dem Flugzeug wieder in Ihre
        Heimat.
      </p>
      <a
        href="https://www.sem.admin.ch/sem/de/home/international-rueckkehr/rueckkehrhilfe.html"
        target="_blank"
        >Mehr Informationen.</a
      ></mat-card
    >
    <br />
    <mat-card
      ><h3 class="box">↓ <i>Flug nicht möglich</i> ↓</h3>
    </mat-card>
    <br />
    <mat-card>
      <h2>Aufenthalt</h2>
      <p>
        Ist ein Flug zurück nicht möglich oder zumutbar, so werden sie in ein
        Kantionales Asylzentrum bewegt in welchem sie Wohnen können bis ein Flug
        möglich ist.
      </p></mat-card
    >
    <hr class="arrow" />
    <img src="../../assets/ok.png" width="50" height="50" />
    <mat-card
      ><h1 class="box">[ Aufgenommen ]</h1>
      <h2>Aufenthaltsbewiligung</h2>
      <p>
        Gratuliere! Sie erhalten eine Aufenthaltsbewiligung. Sie werden einem
        Kanton zugeordnet, welcher dann für die Integration zuständig ist.
      </p>
      <a href="../resources" target="_blank"
        >Schauen sie hier wie es weiter geht.</a
      ></mat-card
    >
    <br />
    <hr class="arrow" />
    <br />
    <mat-card
      ><h1 class="box"><b>* Erweitertes Verfahren</b></h1>
      <p>
        Ist Ihre Situation und Sachlage nicht klar, so kann das SEM ein
        erweitertes Verfahren anordnen.
      </p></mat-card
    >

    <p class="arrow">↓</p>

    <mat-card
      ><h1 class="box"><b>Aufenthalt</b></h1>
      <p>
        Wurde ein erweitertes Verfahren angeordnet so werden sie in ein
        Kantonales Asylzentrum bewegt in welchem sie Wohnen können. Dieses
        Verfahren kann bis zu einem Jahr dauern.
      </p></mat-card
    >
    <div class="space"></div>
  </div>
</div>
