<form class="form-container">
  <div class="contain">
    <h1>Hey, planen Sie etwa ein Asyl zu beantragen?</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-radio-group formControlName="suchtAsyl" class="margin-left">
        <mat-radio-button value="true"> Ja </mat-radio-button>
        <mat-radio-button value="false" style="margin-left: 100px">
          Nein
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <button
    (click)="nextPage()"
    mat-raised-button
    color="primary"
    style="margin-top: 25px"
  >
    Weiter
  </button>
</form>
